<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Teachers</h2>
    <div th:each= "teachers: ${teachers}">
        <a th:href="@{/teacher(id=${teachers.id})}" th:text = "${teachers.name}"></a>
    </div>


</div>
<form method="POST">
    <h3>Add A Teacher</h3>
    <!-- to cater for visually impaired individuals, created the input ID for screen readers and other accessibility tools. -->
    <div>
        <label for="title">Teacher Name:</label> <input id="title" type="text"
            name="teacherName" placeholder="Enter Teacher Name" required="required">
    </div>

    <div>
        <label for="speciality">Speciality</label> <input id="quantity"
            type="text" name="teacherSpeciality" placeholder="Please Enter Speciality"
            required="required">
    </div>

    <div>
        <label for="school name">School Name:</label> <input id="school name"
            type="text" name="schoolName" placeholder="School Name"
            required="required">
    </div>

    <div>
        <button th:formaction="@{/add-teacher}">Add Teacher</button>
    </div>
</form>


    <form method="POST">
            <div>
    
                <input type="text" name="teacherName" required="required"/>
            </div>
    
            <div>
                <button th:formaction="@{/delete-teacher}">Delete Teacher</button>
            </div>
        </form>

</form>

</body>
</html>