<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schools</title>
</head>
<body>
<h1>A List of Schools</h1>

    <div th:each= "school: ${schools}">
        <li>
        <a th:href="@{/school(id=${school.id})}" th:text="${school.name}"></a>

        <form method="POST">
            <div id="schoolDelete">
            <input type="number" name="schoolId" th:value="${school.id}"/>
            </div>

            <div>
                <button th:formaction="@{/delete-school}">delete</button>
            </div>

        </form>
        </li>
     </div>

     <form method="POST">
         <div>
             <input type="text" name="name" placeholder="enter name"/>
    
         </div>

         <div>
             <input type="text" name="district" placeholder="enter district"/>
       
            </div>
         <div>
            <input type="text" name="address" placeholder="enter address"/>
           
        </div>

        <div>
            <input type="text" name="mapUrl" placeholder="enter map link"/>
       
        </div>

        <div>
            <button formaction="/add-school">Add School</button>
        </div>

     </form>
    
</body>
</html>