<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

  <div class="header">
    <img class="ecore"  src="./images/ecore2.png" style="height:150px"/>
    <h3>Educational • Collaborative • Open • Resource • Engine</h3>
  </div>
  
  <div class="navbar">
    <a href="/index" class="active">Home</a>
    <a href="/all-schools">Schools</a>
    <a href="/teacher-login">Teachers</a>
    <a href="/all-community-members">Community</a>
    <a href="/all-materials">Resources</a>
  </div>
  <div class="row">
    <div class="side">
      <h2></h2>
                    <div class="img"><img src="./images/smallicon.png" style="height:150px" class="center"/></div>
                    <br>
                    <p>Information about ECORE</p>
                    <h7>ECORE connects schools, teachers, and community members to share supplies and 
                      resources. 
                      Teachers have the ability to interact with resource requests, ability to 
                      interact with a need request, and communicate with the community at large through a form on 
                      their post.
                    </h7>
                   <br><br>
                   <div class="img"><img src="./images/schools.png" style="height:56px" class="center"/></div><br>
                   <div class="img"><img src="./images/teacher.png" style="height:56px" class="center"/></div><br>
                   <div class="img"><img src="./images/community.png" style="height:56px" class="center"/></div><br>
                   <div class="img"><img src="./images/resources.png" style="height:56px" class="center"/></div><br>
    </div>
				
                <div class="main">

        <h1>A List of Needs</h1>

        


	<div th:each="need: ${needs}">
		<li><a th:href="@{/need/community(id=${need.id})}" th:text="${need.name}"></a>
		</li>
	</div>


            </div>

</div>
</div>
<div class="footer">
    <h2>The Footer</h2>
</div>

</body>
</html>