<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schools</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <div class="main">
            <h3>Member Schools</h3>
            <div th:each="school: ${schools}">
                <ul>
                    <li class="schools">
                        <a th:href="@{/school(id=${school.id})}" th:text="${school.name}"></a>
                    </li>
                </ul>
            </div>
            <h3 class="new_school_title">Create a New School</h3>
            <form method="POST" class="teacherPost">
                <div class="form-group">
                    <input type="text" name="name" placeholder="enter name" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" name="district" placeholder="enter district" required="required"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" name="address" placeholder="enter address" required="required"
                           class="form-control"/>
                </div>
                <!-- <div class="form-group">
                    <input type="text" name="mapUrl" placeholder="enter map link" class="form-control"/>
                </div> -->
                <div class="form-group">
                    <button formaction="/add-school" class="btn btn-primary">Add School</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

</body>
</html>