<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">    
    <title>Document</title>
</head>
<body>
    <h2>Community members</h2>
    <div th:each= "communitymember: ${communitymembers}">
        <a th:href="@{/community-member(id=${communitymember.id})}" th:text = "${communitymember.name}"></a>
        <form method="POST">
        <input class="hiddenInput" type="number" name="id" th:value="${communitymember.id}"/>
        <button th:formaction="@{/delete-community-member}">delete</button>
    </form>
    </div>
        <form method ="POST">
            <h3>Add a new Community Member</h3>
            <div>
                <input type="text" name="name" placeholder="enter name"
                required="required"/>
            </div>

            <div>
                <input type="text" name="email" placeholder="enter email address" required="required"/>
            </div>

            <div>
                <button th:formaction="@{/add-community-member}">add new community member</button>
            </div>
        </form>
    

</body>
</html>