<!DOCTYPE html>
<head>
    <title>Main</title>
    
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <div class="main">
                <h2>We Connect</h2>
                <p>Teachers and Schools to Community members to help educators and schools locally get the supplies they 
                  need for their students to excel.</p>
                <br>
                <h2>We Operate</h2>
                <p>An online platform that makes it easy for teachers and schools to create secure logins for an ability to 
                  post needs and resources; and an ability for the community members to see and respond to teacher needs by sending 
                  out a form on their need post.</p>
              </div>
</body>
</html>
