<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ECORE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="../static/css/style.css">
<body>

<div class="header">
  <h1>ECORE</h1>
  <p>We can use a large icon. </p>
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="#">Schools</a>
  <a href="#">Teachers</a>
  <a href="#">Community</a>
  <a href="#">Resources</a>
  <a href="#" class="right">Contact Us</a>
</div>

<div class="row">
  <div class="side">
    <h2>ECORE</h2>
    <h5>(Below is icon of ecore)</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Information about ECORE</p>
    <h3>more information about the most recent requests for the website</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="main">
    <h2>Title</h2>
    <h5>Description </h5>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>Title</h2>
    <h5>Description</h5>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

<div class="footer">
  <h2>The Footer</h2>
</div>

</body>
</html>
