<!DOCTYPE html>
<head>
    <title>Main</title>
    
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <div class="main">
                <h2>We Connect</h2>
                <p>Teachers and Schools to Community members to help educators and schools locally get the supplies they 
                  need for their students to excel.</p>
                <br>
                <h2>Title</h2>
                <h5>Description</h5>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              </div>
</body>
</html>
