<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Material</title>
</head>
<body>

    <div th:each= "material: ${material}">
        <h2 th:text = "${material.name}"></h2>
        <h3> Quantity</h3>
        <p th:text= "${material.quantity}"></p>
        <h3>Description</h3>
        <p th:text= "${material.descMaterial}"></p>
    </div>

    <form method="POST">
               
        <input class="hiddenInput" type="number" name="id" th:value="${material.id}"/>
        <button th:formaction="@{/delete-material}">delete</button>
    </form>

    <div>
            <ul>
                <li>
            <a th:href="${material.load}">
            </li>
            </ul>
        </div>
    
    
</body>
</html>