<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Need</title>
</head>
<body>
<h1> A single Need </h1>

    <div th:each= "need: ${needs}">
        <p th:text = "${need.name}"></p>
        <p th:text ="${need.quantity}"></p>
        <p th:text ="${need.descNeed}"></p>
        <a href="http://localhost:8080/all-needs">Back to home</a>
    </div>

    <h2>Send an Email to a Teacher to Fulfil Their Need </h2>
        <form action="mailto:someone@example.com" method="post" enctype="text/plain">
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
            </form>
    
</body>
</html>