<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:Name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECORE</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="./js/need.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div class="header">
    <img class="ecore" src="./images/ecore2.png" style="height:150px"/>
    <h3>Educational • Collaborative • Open • Resource • Engine</h3>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/index" class="active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/all-schools">Schools</a>
            </li>
            <li class="nav-item">
                <a href="/teacher-login">Teachers</a>
            </li>
            <li class="nav-item">
                <a href="/all-community-members">Community</a>
            </li>
            <li class="nav-item">
                <a href="/all-materials">Resources</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 left-side">
            <h2></h2>
            <div class="small_logo"><img src="./images/smallicon.png" style="height:150px" class="center"/></div>
            <h3>About ECORE</h3>
            <p>ECORE connects schools, teachers, and community members to share supplies and
                resources.
                Teachers have the ability to interact with resource requests, ability to
                interact with a need request, and communicate with the community at large through a form on
                their post.
            </p>
            <ul class="side-image-container">
                <li><a href="/all-schools"><img src="./images/schools.png" class="side-image"/></a></li>
                <li><a href="/teacher-login"><img src="./images/teacher.png" class="side-image"/></a></li>
                <li><a href="/all-community-members"><img src="./images/community.png" class="side-image"/></a></li>
                <li><a href="/all-materials"><img src="./images/resources.png" class="side-image"/></a></li>
            </ul>
        </div>
        <div class="col-md-7 right-side">
            <h3> A Single Need </h3>
            <div th:each="need: ${needs}">
                <p th:text="${need.name}"></p>
                <h4 class="descriptors">Quantity Requested</h4>
                <p th:text="${need.quantity}"></p>
                <h4 class="descriptors">Description</h4>
                <p th:text="${need.descNeed}"></p>
                <h4 class="descriptors">Requesting Teacher</h4>
                <p th:each="teacher: ${needs.teacher}" th:text="${teacher.name}"></p>
            </div>

            <div>
                <input class="needId" name="needId" type="hidden" th:value="${needs.id}"/>
                <section class="add-tag">
                    <input type="text" placeholder="Add a Tag To Your Need"/>
                    <button>Submit Tag</button>
                </section>
                <section class="tags-list">
                    <ul th:each="tag: ${needs.tags}">
                        <input class="tagId" name="id" type="hidden" th:value="${tag.id}"/>
                        <a th:href="@{/tag(id=${tag.id})}" th:text="${tag.name}"></a>
                        <button class="x">&times;</button>
                    </ul>
                </section>
            </div>

            <h3>Send an Email to a Teacher to Fulfill Their Need </h3>
            <form class="form" action="mailto:someone@example.com" method="post" enctype="text/plain">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="text" name="mail" id="email">
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input class="form-control" type="text" name="comment" size="50" id="comment">
                </div>
                <div class="form-group">
                    <input type="submit" value="Send">
                    <input type="reset" value="Reset">
                </div>
            </form>
            <a href="http://localhost:8080/all-needs">Back to home</a>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <p> Copyright © 2019 ECORE. All Rights Reserved.</p>
</div>
</body>
</html>
