<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Teacher</title>
</head>
<body>

        <div class="header">
                <h1>ECORE</h1>
                <p>We can use a large icon. </p>
              </div>
              
              <div class="navbar">
                    <a href="/index" class="active">Home</a>
                    <a href="/all-schools">Schools</a>
                  <a href="/all-teachers">Teachers</a>
                  <a href="/all-community-members">Community</a>
                  <a href="/all-materials">Resources</a>
                  <a href="/signup" class="right">Sign Up</a>
                </div>
              
              <div class="row">
                <div class="side">
                  <h2>ECORE</h2>
                  <h5>(Below is icon of ecore)</h5>
                  <div class="fakeimg" style="height:200px;">Image</div>
                  <p>Information about ECORE</p>
                  <h3>more information about the most recent requests for the website</h3>
                  <p>Lorem ipsum dolor sit ame.</p>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div>
                </div>
                <div class="main">

    <div th:each= "teacher: ${teachers}">
        <h2>Welcome to your home page</h2>
        <h2 th:text = "${teacher.name}"></h2>
        <p th:text= "${teacher.specialty}"></p>

        <p th:each="school: ${teacher.school}" th:text="${school.name}"></p>

        <form method="POST">
                <div>
                        <input type="hidden" name="teacherName" th:value="${teacher.name}"/>
                </div>
        
                <div>
                    <button th:formaction="@{/delete-teacher}">Delete Teacher</button>
                </div>
            </form>

    </div>

    <div id="forms">
    <div id="addMaterial">
      <form >
        <h3>Post a Resource</h3>
        <div>
            <input type="text" name="name" placeholder="enter name" required="required"/>
        </div>

        <div>
                <input type="number" name="quantity" placeholder="enter quantity" required="required"/>
        </div>

        <div>
            <input type="text" name="descMaterial" placeholder="enter description" required="required"/>
        </div>

        <div>
            <input th:each="teacher: ${teachers}" type="hidden" name="teacherName" th:value="${teacher.name}"/>
        </div>

        <div>
            <input type="text" name="tagName" placeholder="enter tag" required="required" />
        </div>

        <div>
            <button th:formaction="@{/add-material}">add material</button>
        </div>
      </form>
    </div>

    <div id="addNeed">
        <form >
          <h3>Post a Need</h3>
          <div>
              <input type="text" name="needName" placeholder="enter name" required="required"/>
          </div>
  
          <div>
                  <input type="number" name="needQuantity" placeholder="enter quantity" required="required"/>
          </div>
  
          <div>
              <input type="text" name="needDescription" placeholder="enter description" required="required"/>
          </div>
  
          <div>
              <input th:each="teacher: ${teachers}" type="hidden" name="teacherName" th:value="${teacher.name}"/>
          </div>
  
          <div>
              <input type="text" name="tagName" placeholder="enter tag" required="required" />
          </div>
  
          <div>
              <button th:formaction="@{/add-need}">add need</button>
          </div>
        </form>
      </div>
      </div>

      <div id="lists">
        <div class="postList" th:each="teacher: ${teachers}">
            <h3>Your Currently Posted Resources</h3>
            <a th:each="material: ${teacher.materials}" th:href="@{/material(id=${material.id})}" th:text="${material.name}"></a>
          
        </div>

        <div class="postList" th:each="teacher: ${teachers}">
          <h3>Your Currently Posted Needs</h3>
          <a th:each="need: ${teacher.needs}"  th:href="@{/need(id=${need.id})}" th:text="${need.name}"></a>
          
        </div>
      </div>

</div>
</div>
    
        <div class="footer">
                <h2>The Footer</h2>
              </div>
    
</body>
</html>