<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Teacher</title>
</head>
<body>
  <div class="header">
    <img class="ecore"  src="./images/ecore2.png" style="height:150px"/>
    <h3>Educational • Collaborative • Open • Resource • Engine</h3>
  </div>
  
  <div class="navbar">
    <a href="/index" class="active">Home</a>
    <a href="/all-schools">Schools</a>
    <a href="/teacher-login">Teachers</a>
    <a href="/all-community-members">Community</a>
    <a href="/all-materials">Resources</a>
  </div>
  <div class="row">
    <div class="side">
      <h2></h2>
                    <div class="img"><img src="./images/smallicon.png" style="height:150px" class="center"/></div>
                    <br>
                    <p>Information about ECORE</p>
                    <h7>ECORE connects schools, teachers, and community members to share supplies and 
                      resources. 
                      Teachers have the ability to interact with resource requests, ability to 
                      interact with a need request, and communicate with the community at large through a form on 
                      their post.
                    </h7>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div><br>
                  <div class="fakeimg" style="height:60px;">Image</div>
                </div>
                <div class="main">
    <section class="welcomeBanner" th:each= "teacher: ${teachers}">
    <div >
    <h2>Welcome to your home page</h2>
        <h2 th:text = "${teacher.name}"></h2>
      </div>
    <div class="personalInfo">        
        <div>
        <img class="profilePic"  src="./images/avatar.png"/>
      </div>
      <div class="textInfo">
        <h3>Specialty</h3>
        <p th:text= "${teacher.specialty}"></p>
        <h3>School</h3>
        <p th:each="school: ${teacher.school}" th:text="${school.name}"></p>
        <h3>Email</h3>
        <p  th:text= "${teacher.email}"></p>
      
        <form class="teacherPost" method="POST">
                <div>
                        <input type="hidden" name="teacherName" th:value="${teacher.name}"/>
                </div>
        
                <div>
                    <button th:formaction="@{/delete-teacher}">Delete Teacher</button>
                </div>
            </form>
          </div>
    </div>
  </section>

    <div id="forms">
    <div id="addMaterial">
      <form class="teacherPost" method="POST" >
        <h3>Post a Resource</h3>
        <div>
          <label>ResourceName</label>
            <input type="text" name="name" placeholder="enter name" required="required"/>
        </div>

        <div>
            <label>Quantity</label>
                <input type="number" name="quantity" placeholder="enter quantity" required="required"/>
        </div>

        <div>
            <label>Description</label>
            <input type="text" name="descMaterial" placeholder="enter description" required="required"/>
        </div>

        <div>
            <input th:each="teacher: ${teachers}" type="hidden" name="teacherName" th:value="${teacher.name}"/>
        </div>

        <div>
            <label>Tag Name</label>
            <input type="text" name="tagName" placeholder="enter tag" required="required" />
        </div>

        <div>
            <button th:formaction="@{/add-material}">add material</button>
        </div>
      </form>
    </div>

    <div id="addNeed">
        <form class="teacherPost" method="POST">
          <h3>Post a Need</h3>
          <div>
              <label>Need Name</label>
              <input type="text" name="needName" placeholder="enter name" required="required"/>
          </div>
  
          <div>
              <label>Quantity</label>
                  <input type="number" name="needQuantity" placeholder="enter quantity" required="required"/>
          </div>
  
          <div>
              <label>Description</label>
              <input type="text" name="needDescription" placeholder="enter description" required="required"/>
          </div>
  
          <div>
              <input th:each="teacher: ${teachers}" type="hidden" name="teacherName" th:value="${teacher.name}"/>
          </div>
  
          <div>
              <label>Tag Name</label>
              <input type="text" name="tagName" placeholder="enter tag" required="required" />
          </div>
  
          <div>
              <button th:formaction="@{/add-need}">add need</button>
          </div>
        </form>
      </div>
      </div>

      <div id="lists">
        <div class="teacherPostList" th:each="teacher: ${teachers}">
            <h3>Your Currently Posted Resources</h3>
            
            <div class="teacherListInfo" th:each="material: ${teacher.materials}">
            <a th:href="@{/material(id=${material.id})}" th:text="${material.name}"></a>
            <div>
            <form>
              <div>
              <input type="hidden" name="id" th:value="${material.id}"/>
            </div>

            <div>
              <button th:formaction="@{/delete-material}">delete</button>
            </div>
            </form>
          </div>
          </div>
        </div>

        <div class="teacherPostList" th:each="teacher: ${teachers}">
          <h3>Your Currently Posted Needs</h3>
          <div class="teacherListInfo" th:each="need: ${teacher.needs}">
          <a  th:href="@{/need(id=${need.id})}" th:text="${need.name}"></a>

          <form>
              <div>
              <input type="hidden" name="needName" th:value="${need.name}"/>
            </div>

            <div>
              <button th:formaction="@{/delete-need}">delete</button>
            </div>
            </form>

        </div>
        </div>
      </div>

</div>
</div>
    
        <div class="footer">
                <h2>The Footer</h2>
              </div>
    
</body>
</html>